body { border: solid .55em #202020; }

span.dropcaps { font-family:Raleway, serif; color: #ccc; font-size: 75px; float: left; font-weight: 100; line-height: 1em; margin-bottom: 0em; margin-right: 0.09em; position: relative; }

#cwfheader { background-color: #999 !important; }

body .ig-shortcode-tabpane { overflow: hidden; }

.asofooter footer {
	clear: both;
	
}